/** Colors. */
$color-yellow: #fff000;
$color-white: #ffffff;
$color-black: #333333;
$color-gray: #cccccc;
$color-pink: #e3007f;
$color-blue: #009fe8;
$color-light: #dddddd;
$color-dark: #707070;

/** Typography. */
$font-family-base: 'Helvetica Neue', 'Tahoma', 'Verdana', 'sans-serif';
$font-size-base: 16px;
$font-weight-base: normal;
$line-height-base: 1.5rem;

/** Spacing. */
$spacing-unit: 16px;

/** Padding. */
$padding-base: 0.5rem 1rem;

/** Border. */
$border-radius: 3px;
$border-none: none;

/** Shadow. */
$box-shadow-base: 0px 0px 31px 14px rgba(0, 0, 0, 0.1);
