.dashboard {
    @include flexbox(column, start, center, wrap);
    min-height: 100vh;

    .dashboard-header {
        background: url('../../../public/images/user/header.jpg') center center no-repeat;
        @include flexbox(column, center, center, wrap);
        width: 100%;
        min-height: 200px;
        color: #ffffff;

        .header-text {
            box-shadow: $box-shadow-base;
            font-size: 2.5rem;
        }
    }

    .dashboard-form {
        @include flexbox(column, center, center, wrap);
        margin-top: 3rem;
        background: #ffffff;
        box-shadow: $box-shadow-base;
        padding: 2rem;
        gap: 1rem;
        border-radius: 4px;
        width: 90%;

        .form-message {
            @include flexbox(row, start, start, wrap);
            min-width: 80%;

            .message-box {
                border: 1px solid rgba(46, 204, 113, 0.15);
                min-width: 100%;
                border-radius: 4px;
                padding: 0.5rem;
                color: rgba(25, 135, 84, 1);
                background: rgba(46, 204, 113, 0.25);
            }
        }

        .form-action {
            @include flexbox(column, center, center, wrap);

            .action-button {
                cursor: pointer;
            }
        }
    }
}
